body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: $width;
  justify-content: flex-start;
  padding: $padding;

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: $day-size;
    height: $day-size;
    background-color: #eee;
    border: $border-width solid black;
    transition-duration: 0.5s;

    &::before {
      content: '';
      font-family: Arial, sans-serif;
      font-size: 30px;
      color: black;
    }
    &:hover {
      background-color: #ffbfcb;
      cursor: pointer;
      transform: translateY(-20px);
    }
  }
}
